@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.manrope-font {
  font-family: "Manrope", serif;
  font-weight: bold;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: rgb(248, 247, 247);
}
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

/* shared styles */

.primary-color {
  color: #3a3a3a;
}

.secondary-color {
  color: #18191f;
}

.gray {
  color: #5e6366;
}

.light-gray {
  color: #787885;
}

.btn-primary {
  background: #e02c6d;
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.btn-primary:hover {
  background: rgb(231, 228, 228);
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  font-size: 1rem;
  color: #e02c6d;
}

.section-title,
.card-title {
  font-size: 1.75rem;
}

header {
  margin: 90px 120px;
}

main section {
  max-width: 1110px;
  /* margin: 100px 165px; */
  margin: 100px auto;
}

/* navbar releated styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  margin-right: 30px;
  font-size: 1rem;
}

/* banner related styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.banner-content {
  max-width: 582px;
}
.banner-title {
  font-size: 3.25rem;
  margin-bottom: 16px;
}

.banner-description {
  max-width: 500px;
  padding-bottom: 16.1px;
}

.banner .image-box {
  max-width: 440px;
  background: url("../images/Circle\ design.svg");
  padding-top: 20px;
}

.banner .image-box img {
  width: 100%;
}

/* sponsor related styles */

.sponsors-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
}

/* popular section related styles */
.popular-section {
  margin: 0 196px;
}

.popular-section .section-title {
  text-align: center;
}

.popular-section .popular-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.popular-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: white !important;
}

.popular-card h4,
h5,
h6,
p {
  margin: 5px 0px;
}

.card-title {
  padding-top: 11px;
  padding-bottom: 1px;
}

.popular-card .card-pricing {
  font-size: 1.4rem;

  padding-bottom: 2px;
}

.ratings-color {
  color: #fb8200;
  font-size: 0.6rem;
}

.ratings-number {
  font-size: 1rem;
  margin-left: 3px;
}

.card-info {
  color: #787885;
  font-size: 0.87rem;
}

.forward-text {
  text-align: end;
  color: #e02c6d;
  font-size: 1.25rem;
  text-shadow: 0 0 1px rgb(138, 136, 136);
  padding-top: 50px;
}

/* featured products related styles */
.featured-products-section {
  /* max-width: 1150px; */
  margin: 100px auto;
}

.featured-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-content .section-title {
  font-size: 2.37rem;
}

.featured-content .section-info {
  font-size: 1rem;
  color: #6c6c6c;
}

.featured-container .btn-primary {
  border-radius: 0;
  margin-top: 16px;
}

.featured-content h3 {
  margin-bottom: 16px;
  color: #0a0826;
}

/* footer related styles */
footer {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-title {
  font-size: 1.5rem;
  margin-top: 50px;
}

.footer-description {
  color: #d9dbe1;
  font-size: 0.87rem;
}

.footer-description span {
  display: block;
  margin-top: 5px;
}

footer .social-icon {
  font-size: 17px;
  padding: 10px;
  margin-bottom: 50px;
}
footer .social-icon i {
  margin-right: 10px;
}

/* responsive for smal device */
@media screen and (max-width: 576px) {
  header {
    margin: 0 20px;
  }

  .navbar {
    flex-direction: column;
  }

  .banner,
  .featured-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }

  .featured-container .section-title {
    font-size: 1.8rem;
  }

  .sponsors-container {
    gap: 10px;
  }
  .popular-section .popular-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular-section {
    margin: 0 20px;
  }
}
